<p><strong>Username: </strong><%= @user.username %></p>
<p><strong>Email: </strong><%= @user.email %></p>
<% if current_user.admin? %>
<p><a id="display_users" onclick="toggle_users()">...Show more users...</a></p>
	<table id="users" style="display: none;" class="table table-striped">
		<tr>
			<th>ID</th>
			<th>Username</th>
			<th>Email</th>
			<th>Admin?</th>
		</tr>
	<% @users.each do |user| %>
		<tr>
			<td><%= user.id %></td>
			<td><%= user.username %></td>
			<td><%= user.email %></td>
			<td><%= user.admin %></td>
		</tr>
	<% end %>
	</table>
<% end %>

<script>
	function toggle_users(){
		$('#users').toggle();
		if ($('#display_users').html() == "...Show more users..."){
			$('#display_users').html('...Hide other users...');
		}
		else {
			$('#display_users').html('...Show more users...')
		}
	};

</script>
