<p>Help me to remember please...</p>

<% if signed_in? %>
	<%= form_tag root_url, :method => 'get', :html => { :id => "search_form" } do %>
		<p><%= text_field_tag :search, params[:search], :disabled => true, :autocomplete => "off" %>
                   <%= submit_tag "Search", :name => nil, :disabled => true, :id => "submit" %><br />
			<%= radio_button_tag 'type', "Idea" %>Idea
			<%= radio_button_tag 'type', "Tag" %>Tag
			<%= radio_button_tag 'type', "Date" %>Date
		</p>
	<% end %>
	<p id="tags_nearby"> Nearby: </p>
	<div id="search-results" style="display: none; "><%= render :partial => 'search' %></div>
	<%= link_to "Sign out", signout_path, method: :delete %><br />

<% else %>
	<%= link_to 'Sign Up', signup_path %> | <%= link_to 'Sign in', signin_path %>
<% end %>

<script>
	$('input:radio').change(function(){
		$('#search').attr('disabled', false);
		$('#submit').attr('disabled', false);
		if ($('input:radio:checked').val() == "Date"){
			$('#search').datepicker({
				dateFormat: 'yy-dd-mm',
				showAnim: 'fold',
				defaultDate: new Date()
			});
		}
		else{
			$('#search').datepicker("destroy");
		}
	});
	$('#search').keyup(function(){
		$('#search-results').show();
		$.get($('#search_form').attr('action'), { search: $('#search').val(), type: $('input:radio:checked').val() }, null, 'script');
		return false;
	});
	$('#search').change(function(){
		$('#search-results').show();
		$.get($('#search_form').attr('action'), { search: $('#search').val(), type: $('input:radio:checked').val() }, null, 'script');
		return false;
	});

	function findtags(position) {
		<% @thoughts_nearby = Thought.where(:user_id => current_user, :note_location => "1") %>

		var tag_coords = [
		<% @thoughts_nearby.each do |thought| %>
			{
				tag: "<%= thought.tag %>",
				lat: "<%= thought.location_content.split(',')[0] %>",
				long: "<%= thought.location_content.split(',')[1] %>"
			}<% if @thoughts_nearby.last != thought %>,<% end %>
		<% end %>
		];
		var R = 6371; //km
		// Current location
		lat1 = position.coords.latitude * Math.PI/180;
		lon1 = position.coords.longitude * Math.PI/180;
		for (var i=0; i < tag_coords.length; i++){

			// Thought location
			lat2 = tag_coords[i].lat * Math.PI/180;
			lon2 = tag_coords[i].long * Math.PI/180;

			var x = (lon2-lon1) * Math.cos((lat1+lat2)/2);
			var y = (lat2-lat1);
			// in km
			var d = Math.sqrt(x*x + y*y) * R;
			// if within 100m...say it's a nearby tag
			if ( d <= 0.1){
				$('#tags_nearby').append('<a href="#">'+tag_coords[i].tag+'</a> |');
			}
		}
	};
	// One-shot position request.
    	navigator.geolocation.getCurrentPosition(findtags);



</script>
