<h1><%= @h1 %></h1><br />
<!--<p>Top tags:
<% @top_tags.each do |thought| %>
	<a class="top_tag" href="/quicktag?id=<%= thought.id %>"><%= thought.tag %></a>
<% end %>
</p>-->
<%= render :partial => 'form' %>

<script>
	$(function(){
		var max_length = 140;
		// get current number of characters
		$('#counter').html(max_length - $('#thought_idea').val().length);

		$('#thought_idea').keyup(function()
		{	// get new length of characters
			if ($(this).val().length >= max_length)
			{
				$('#counter').html('0');
				$(this).val($(this).val().substr(0, max_length));
			}
			else if ( (max_length - $(this).val().length) < 15 ){
				$('#counter').html(max_length - $(this).val().length);
				$('#counter').addClass("input_limit");
			}
			else
			{
				$('#counter').removeClass("input_limit");
				$('#counter').html(max_length - $(this).val().length);
			}
		});
		/*
		//Autocomplete idea and tag
		var available_ideas = [<% @thoughts.each do |thought| %>
						"<%= thought.idea %>"
						<% if thought != @thoughts.last %>,<% end %>
					<% end %>];
		var available_tags = [<% @thoughts.each do |thought| %>
						"<%= thought.tag %>"
						<% if thought != @thoughts.last %>,<% end %>
					<% end %>];
		$("#thought_idea").autocomplete({ source: available_ideas.unique() });
		$("#thought_tag").autocomplete({ source: available_tags.unique() });*/

	});

	$(".checkbox").click(function(){
		var checked = $(this).is(':checked');
		var selected_id = $(this).attr('id');
		var id_parts = selected_id.split("_", 3);
		id = id_parts[0] + "_" + id_parts[2] + "_content";
		if (checked){
			$(".note_content_field").hide();

			if (id_parts[2] == "location") {
				$("#"+id_parts[2]+"_information").show();
			}
			if (id_parts[2] == "email" || id_parts[2] == "text") {
				$("#"+id).show().attr('rows', 5);
			}
			else {
				$("#"+id).show();
			}
		}
		else {
			if (id_parts[2] == "location") {
				$("#"+id_parts[2]+"_information").hide();
			}
			$("#"+id).hide();
		}
	});

	/*$("#thought_note_image").click(function(){
		var checked = $(this).is(':checked');
		if (checked){
			$(".note_content_field").hide();
			$("#thought_image_content").show().val('/assets/rails.png');
		}
		else {
			$("#thought_image_content").hide();
		}
	});

	$("#thought_note_link").change(function(){
		var checked = $(this).is(':checked');
		if (checked){
			$(".note_content_field").hide();
			$("#thought_link_content").show().val(window.location).attr('rows', 1);
		}
		else {
			$("#thought_link_content").hide()
		}
	});

	$("#thought_note_location").change(function(){
		var checked = $(this).is(':checked');
		if (checked){
			$(".note_content_field").hide();
			$("#location_information").show();
			$("#thought_location_content").show();
		}
		else {
			$("#location_information").hide();
			$("#thought_location_content").hide();
		}
	});*/

	$("#locate_current").click(function(){
			$("#locations").hide();
			$("#map_area").hide();
			function showMap(position) {
    	  		// Show a map centered at (position.coords.latitude, position.coords.longitude).
				$("#thought_location_content").val(position.coords.latitude+","+position.coords.longitude).attr('rows', 1);
			}

			// One-shot position request.
    			navigator.geolocation.getCurrentPosition(showMap);
			$("#thought_note_location").val("1");
	});
	$("#locate_list").click(function(){
			$("#map_area").hide();
			$("#locations").show();
	});


	/*$("#thought_note_email").change(function(){
		var checked = $(this).is(':checked');
		if (checked){
			$(".note_content_field").hide();
			$("#thought_email_content").show().attr('rows', 5);
		}
		else {
			$("#thought_email_content").hide();
		}
	});


	$("#thought_note_text").change(function(){
		var checked = $(this).is(':checked');
		if (checked){
			$(".note_content_field").hide();
			$("#thought_text_content").show().attr('rows', 5);
		}
		else {
			$("#thought_text_content").hide();
		}
	});*/

	$("#thought_timeframe").change(function(){
		if ($("#thought_timeframe option:selected").val() == "By Date")
		{	$("#reminder_area").show();
			$("#frequency_date").hide();
			$("#frequency").hide();
			$("#thought_timeframe_date").show().datepicker({dateFormat: 'yy-mm-dd'}).focus();
		}
		else if ($("#thought_timeframe option:selected").val() == "Every"){
			$("#reminder_area").show();
			$("#frequency").show().focus();
			$("#frequency_date").show().datepicker({dateFormat: 'yy-mm-dd'});
			$("#thought_timeframe_date").hide();
		}
		else if ($("#thought_timeframe option:selected").val() == "Soon" || $("#thought_timeframe option:selected").val() == "Someday"){
			$("#reminder_area").hide();
			$("#thought_timeframe_date").hide();
			$("#frequency_date").hide();
			$("#frequency").hide();
		}
	});
	$(".frequency").change(function(){
		$("#thought_timeframe_date").val(function(index, value){
				return $("#frequency option:selected").val() + "," + $("#frequency_date").val();
			});
	});



	$("#thought_note_type").change(function(){
		if ($("#thought_note_type option:selected").val() == "Location")
		{	$("#note_content").slideDown();

			function showMap(position) {
    	  		// Show a map centered at (position.coords.latitude, position.coords.longitude).
				$("#thought_note_content").val(position.coords.latitude+","+position.coords.longitude).attr('rows', 1);
			}

			// One-shot position request.
    		navigator.geolocation.getCurrentPosition(showMap);
		}
		else if ($("#thought_note_type option:selected").val() == "Link")
		{
			$("#note_content").slideDown();
			$("#thought_note_content").val(window.location).attr('rows', 1);
		}
		else if ($("#thought_note_type option:selected").val() == "Text")
		{
			$("#note_content").slideDown();

			$("#thought_note_content").attr('rows', 5).val("");
		}

		else{
			$("#note_content").hide();
		}
	});

	$("#reminder").change(function(){
		$("#reminder_input").toggle();
	});

	/*$("#new_thought").submit(function(){
		if ($("#thought_idea").val() == "")
		{
			alert("Must submit an idea.");
			$("#thought_idea").focus();
			return false;
		}
		else if ($("#thought_timeframe").val() == " ")
		{
			alert("Must select a timeframe.");
			$("#thought_timeframe").focus();
			return false;
		}
		else if ($("#thought_tag").val() == "")
		{
			alert("Must submit a tag.");
			$("#thought_tag").focus();
			return false;
		}
		var checked = $("#reminder").is(':checked');
		if (checked){
			var value = $("#thought_reminder_timeframe").val();
			if (isNaN(value) || value <= 0){
				alert("Value must be an integer greater than 0!  Please re-enter.");
				return false;
			}
		}
	});*/

	//Return new array with duplicate values removed
	Array.prototype.unique =
	  function() {
	    var a = [];
	    var l = this.length;
	    for(var i=0; i<l; i++) {
	      for(var j=i+1; j<l; j++) {
		// If this[i] is found later in the array
		if (this[i] === this[j])
		  j = ++i;
	      }
	      a.push(this[i]);
	    }
	    return a;
	  };

	var map;
	var latitude;
	var longitude;

	$("#locate_place").click(function(){
		$("#locations").hide();
		$('#map_area').show();
		google.maps.event.trigger(map, "resize");
		map.setCenter( new google.maps.LatLng(latitude, longitude) );
		map.setZoom(13);
	});

	function initialize(position) {
		latitude = position.coords.latitude;
		longitude = position.coords.longitude;
		var mapOptions = {
		  	center: new google.maps.LatLng(position.coords.latitude, position.coords.longitude),
			zoom: 8,
			mapTypeId: google.maps.MapTypeId.ROADMAP
		};
		map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);

		google.maps.event.trigger(map, "resize");

		var input = document.getElementById('searchTextField');
		var autocomplete = new google.maps.places.Autocomplete(input);

		autocomplete.bindTo('bounds', map);

		var infowindow = new google.maps.InfoWindow();
		var marker = new google.maps.Marker({
		  map: map
		});

		google.maps.event.addListener(autocomplete, 'place_changed', function() {
		  infowindow.close();
		  var place = autocomplete.getPlace();

		  if (place.geometry.viewport) {
		    map.fitBounds(place.geometry.viewport);
		  }
		  else {
		    map.setCenter(place.geometry.location);
		    map.setZoom(17);  // Why 17? Because it looks good.
		  }

		  var image = new google.maps.MarkerImage(
		      place.icon,
		      new google.maps.Size(71, 71),
		      new google.maps.Point(0, 0),
		      new google.maps.Point(17, 34),
		      new google.maps.Size(35, 35));
		  marker.setIcon(image);
		  marker.setPosition(place.geometry.location);

		  var address = '';
		  if (place.address_components) {
		    address = [(place.address_components[0] &&
		                place.address_components[0].short_name || ''),
		               (place.address_components[1] &&
		                place.address_components[1].short_name || ''),
		               (place.address_components[2] &&
		                place.address_components[2].short_name || '')
		              ].join(' ');
		  }
		  var coordinates = String(place.geometry.location).replace("(","");
		  coordinates = coordinates.replace(")","");

		  infowindow.setContent('<div><strong><a onclick="$(\'#thought_location_content\').val(\''+coordinates+'\')">' + place.name + '</a></strong><br>' + address);
		  infowindow.open(map, marker);
		});

		// Sets a listener on a radio button to change the filter type on Places
		// Autocomplete.
		function setupClickListener(id, types) {
		  var radioButton = document.getElementById(id);
		  google.maps.event.addDomListener(radioButton, 'click', function() {
		    autocomplete.setTypes(types);
		  });
		}

		setupClickListener('changetype-all', []);
		setupClickListener('changetype-establishment', ['establishment']);
		setupClickListener('changetype-geocode', ['geocode']);

	      }

	navigator.geolocation.getCurrentPosition(initialize);


</script>
